@import url('https://fonts.googleapis.com/css?family=Titillium+Web:200,200i,300,300i,400,400i,600,600i,700,700i,900&display=swap');
.container {
    max-width: 1100px;
    margin: auto;
}

header .active {
    background-color: #643a79;
    border-radius: 3px;
    padding: 10px 18px;
}

header {
    background-color: #87509c;
}

header nav img {
    margin-left: 40px;
    margin-top: 60px;
}

header nav ul {
    float: right;
    margin-top: 70px;
}

header ul li {
    display: inline;
}

header ul a {
    font: 400 1em 'Titillium Web', sans-serif;
    line-height: 18px;
    color: #FFF;
    margin-right: 40px;
}

header section h3 {
    font: 700 2.625em 'Titillium Web', sans-serif;
    line-height: 49px;
    color: #f7f3ea;
    text-align: center;
    width: 912px;
    margin: auto;
    margin-top: 140px;
}

header section button {
    display: block;
    margin: auto;
    margin-top: 60px;
    width: 290px;
    height: 70px;
    background-color: #eb7d4b;
    border-radius: 3px;
    font: 600 1.125em 'Titillium Web', sans-serif;
    line-height: 26px;
    color: #FFF;
    border: none;
    outline: none;
    cursor: pointer;
    border-bottom: 4px solid #c86a40;
}

header section {
    padding-bottom: 145px;
}

#iki {
    background-color: #17c2a4;
    height: 745px;
}

#iki .container>h2 {
    font: 700 2.5em 'Titillium Web', sans-serif;
    letter-spacing: 4px;
    line-height: 30px;
    color: #FFF;
    text-align: center;
    padding-top: 115px;
}

#iki hr {
    width: 87px;
    height: 4px;
    border: none;
    background-color: #14a58c;
    margin-top: 20px;
}

#iki .container>p {
    font: 400 1.125em 'Titillium Web', sans-serif;
    letter-spacing: 0;
    line-height: 26px;
    color: #FFF;
    text-align: center;
    width: 600px;
    margin: auto;
    margin-top: 25px;
}

.service {
    width: 250px;
    float: left;
    margin-right: 25px;
    margin-top: 80px;
    text-align: center;
}

.service h2 {
    font: 700 1.5em 'Titillium Web', sans-serif;
    letter-spacing: 0;
    line-height: 18px;
    color: #FFF;
    margin-top: 65px;
}

.service p {
    width: 204px;
    height: 192px;
    font: 300 1em 'Titillium Web', sans-serif;
    letter-spacing: 0;
    line-height: 24px;
    color: #FFF;
    margin: auto;
    margin-top: 25px;
}

#uc {
    background-color: #e7f1f8;
    height: 910px;
}

#uc .container>h2 {
    font: 700 2.5625em 'Titillium Web', sans-serif;
    letter-spacing: 4px;
    line-height: 30px;
    color: #3c4761;
    text-align: center;
    padding-top: 115px;
}

#uc hr {
    width: 87px;
    height: 4px;
    border: none;
    background-color: #c8d9e5;
    margin-top: 20px;
}

#uc .container>p {
    font: 400 1.125em 'Titillium Web', sans-serif;
    letter-spacing: 0px;
    line-height: 26px;
    color: #3c4761;
    text-align: center;
    margin-top: 25px;
}

.team {
    width: 250px;
    float: left;
    margin-right: 25px;
    margin-top: 80px;
    text-align: center;
}

.team img {
    border-radius: 50%;
    height: 200px;
    width: 200px;
}

.team h2 {
    font: 700 1.5em 'Titillium Web', sans-serif;
    letter-spacing: 0px;
    line-height: 18px;
    color: #3c4761;
    margin-top: 40px;
}

.team h3 {
    font: 400 1em 'Titillium Web', sans-serif;
    letter-spacing: 0px;
    line-height: 18px;
    color: #30bae7;
    text-align: center;
    margin-top: 15px;
}

.team p {
    width: 204px;
    height: 130px;
    font: 300 1em 'Titillium Web', sans-serif;
    letter-spacing: 0;
    line-height: 24px;
    color: #3c4761;
    margin: auto;
    margin-top: 25px;
}

.contact img {
    height: 30px;
    width: 30px;
    margin-top: 30px;
    margin-right: 10px;
}

#dort {
    background-color: #FFF;
    height: 655px;
}

#dort .container>h2 {
    font: 700 2.5em 'Titillium Web', sans-serif;
    letter-spacing: 4px;
    line-height: 30px;
    color: #3c4761;
    text-align: center;
    padding-top: 115px;
}

#dort hr {
    width: 87px;
    height: 4px;
    border: none;
    background-color: #dfe8ed;
    margin-top: 20px;
}

#dort .container>p {
    font: 400 1.125em 'Titillium Web', sans-serif;
    letter-spacing: 0px;
    line-height: 26px;
    color: #3c4761;
    text-align: center;
    max-width: 565px;
    margin: auto;
    margin-top: 25px;
}

.skill {
    width: 250px;
    float: left;
    margin-right: 25px;
    margin-top: 80px;
    text-align: center;
}

.skill h2 {
    font: 700 1.5em 'Titillium Web', sans-serif;
    letter-spacing: 0px;
    line-height: 18px;
    color: #3c4761;
    margin-top: 30px;
}

#bes {
    background-color: #ffdd99;
    height: 1420px;
}

#bes .container>h2 {
    font: 700 2.5em 'Titillium Web', sans-serif;
    letter-spacing: 4px;
    line-height: 30px;
    color: #393939;
    text-align: center;
    padding-top: 115px;
}

#bes hr {
    width: 87px;
    height: 4px;
    border: none;
    background-color: #e5c37f;
    margin-top: 20px;
}

#bes .container>p {
    font: 400 1.125em 'Titillium Web', sans-serif;
    letter-spacing: 0px;
    line-height: 26px;
    color: #393939;
    text-align: center;
    max-width: 565px;
    margin: auto;
    margin-top: 25px;
}

#menu ul {
    margin: auto;
    margin-top: 70px;
    margin-left: 360px;
}

#menu li {
    display: inline;
}

#menu .active {
    background-color: #FFF;
    border-radius: 3px;
    padding: 12px 28px !important;
}

#menu ul a {
    font: 400 1.125em 'Titillium Web', sans-serif;
    letter-spacing: 0px;
    line-height: 20px;
    color: #393939;
    background-color: #ebc985;
    border-radius: 3px;
    padding: 12px 20px;
    margin-right: 10px;
}

.portfolio {
    width: 550px;
    float: left;
    text-align: center;
    margin-top: 75px;
}

.portfolio h2 {
    font: 400 1.125em 'Titillium Web', sans-serif;
    letter-spacing: 0px;
    line-height: 20px;
    color: #393939;
    margin-top: 30px;
}

.portfolio button {
    display: block;
    margin: auto;
    margin-left: 400px;
    width: 290px;
    height: 70px;
    background-color: #17c2a4;
    border-radius: 3px;
    font: 600 1.125em 'Titillium Web', sans-serif;
    line-height: 26px;
    color: #FFF;
    border: none;
    outline: none;
    cursor: pointer;
    border-bottom: 4px solid #14a58c;
}

#alti {
    background-color: #d74680;
    height: 890px;
}

#alti .container>h2 {
    font: 700 2.5em 'Titillium Web', sans-serif;
    letter-spacing: 4px;
    line-height: 30px;
    color: #FFF;
    text-align: center;
    padding-top: 115px;
}

#alti hr {
    width: 87px;
    height: 4px;
    border: none;
    background-color: #b73c6d;
    margin-top: 20px;
}

#alti .container>p {
    font: 400 1.125em 'Titillium Web', sans-serif;
    letter-spacing: 0px;
    line-height: 26px;
    color: #FFF;
    text-align: center;
    max-width: 565px;
    margin: auto;
    margin-top: 25px;
}

.client {
    width: 550px;
    float: left;
    margin-top: 75px;
}

.client img {
    border-radius: 50%;
    height: 95px;
    width: 95px;
    float: left;
}

.client p {
    font: 400 1.3125em 'Titillium Web', sans-serif;
    width: 350px;
    letter-spacing: 0px;
    line-height: 31px;
    color: #ffffff;
    font-style: italic;
    margin-left: 145px;
}

.client h2 {
    font: 700 1.5em 'Titillium Web', sans-serif;
    letter-spacing: 0px;
    line-height: 26px;
    color: #ffffff;
    clear: both;
    margin-top: 30px;
    margin-left: 145px;
}

.client h3 {
    font: 400 1.125em 'Titillium Web', sans-serif;
    letter-spacing: 0px;
    line-height: 26px;
    color: #ffdd99;
    clear: both;
    margin-left: 145px;
}

#yeddi {
    background-color: #3c5499;
    height: 820px;
}

#yeddi .container>h2 {
    font: 700 2.5em 'Titillium Web', sans-serif;
    letter-spacing: 4px;
    line-height: 30px;
    color: #FFF;
    text-align: center;
    padding-top: 115px;
}

#yeddi hr {
    width: 87px;
    height: 4px;
    border: none;
    background-color: #273a71;
    margin-top: 20px;
}

#yeddi .container>p {
    font: 400 1.125em 'Titillium Web', sans-serif;
    letter-spacing: 0px;
    line-height: 26px;
    color: #FFF;
    text-align: center;
    margin: auto;
    margin-top: 25px;
}

#touchs {
    max-width: 860px;
    margin: auto;
}

.touch input {
    width: 415px;
    height: 55px;
    background-color: #273a71;
    border-radius: 3px;
    border: none;
    outline: none;
    font: 400 1.125em 'Titillium Web', sans-serif;
    line-height: 18px;
    color: #FFF;
    margin-top: 75px;
    padding-left: 25px;
}

.touch input:nth-child(2) {
    margin-left: 25px;
}

.touch textarea::placeholder, .touch input::placeholder {
    color: #FFF;
}

.touch textarea {
    height: 200px;
    width: 860px;
    background-color: #273a71;
    border-radius: 3px;
    border: none;
    outline: none;
    font: 400 1.125em 'Titillium Web', sans-serif;
    line-height: 18px;
    color: #FFF;
    margin-top: 27px;
    padding-left: 25px;
    padding-top: 25px;
}

#son button {
    display: block;
    margin: auto;
    margin-top: 60px;
    width: 290px;
    height: 70px;
    background-color: #30bae7;
    border-radius: 3px;
    font: 600 1.125em 'Titillium Web', sans-serif;
    line-height: 26px;
    color: #FFF;
    border: none;
    outline: none;
    cursor: pointer;
    border-bottom: 4px solid #299ec5;
}

footer {
    background-color: #344b8e;
    height: 110px;
}

footer nav ul {
    float: left;
    margin-top: 47px;
}

footer ul li {
    display: inline;
}

footer ul a {
    font: 600 1.5em 'Titillium Web', sans-serif;
    color: #FFF;
    letter-spacing: 0px;
    line-height: 30px;
    text-align: center;
    margin: auto;
    margin-left: 60px;
}

footer .active {
    color: #30bae7;
}